/*
  CheckingBox Component Styling
*/
.checkingBox {
  &__target {
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 7px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);

    &:hover {
      cursor: pointer;
      border: 1.3px solid $main-color;
    }

    &-active {
      border: 1.3px solid $main-color;
    }
  }

  &__reference {
  }
}
