/*
  Thematic Page Styling
*/
.InputBox {
  display: flex;
  justify-content: center;
}
.textInput {
  margin-top: 3rem;
  padding: 20px;
  width: 900px;
  height: 500px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 25px;

  &__head {
    &__input {
      //border: none;
      &:focus {
        outline: none;
      }
    }
  }

  &__body {
    border: none;
    &__input {
      &:focus {
        outline: none;
      }
    }
  }
}
