/*
  Thematic Page Styling
*/
.inputArea {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  //border: 2px solid red;

  &__container {
    padding: 30px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 8px 7px rgba(0, 0, 0, 0.3);

    &__head {
      margin-bottom: 10px;
    }

    &__title {
      font-size: 1.1rem;
      margin-bottom: 5px;

      & span {
        font-weight: bold;
      }
    }
    &__input {
      width: 100%;
      font-size: 1.2rem;
      border: none;
      border-bottom: 1px solid $dark-gray;
      &:focus {
        outline: none;
      }
    }
  }
}
