/*
  Video Page Styling
*/

.videoPage {
  margin-top: 3.2rem;

  &__youtube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;

    &__input {
      width: 50%;

      &__enterBtn {
        &:focus {
          outline: none;
        }
      }
    }

    &__show {
      margin-top: 2%;
    }

    &__button {
      &:focus {
        outline: none;
      }
    }
  }
}
