/*
  Submit Page Styling
*/

.submitPage {
  padding-top: 1rem;

  &__loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 15%;

    &__helptext {
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.5rem;

      & span {
        color: $main-color;
      }
    }

    &__loader {
      display: flex;
      justify-content: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;

    &__essayArea {
      padding: 20px;
      margin-right: 3%;
      width: 40%;
      height: 550px;
      overflow: scroll;
    }

    &__resultArea {
      padding: 20px;
      margin-left: 3%;
      width: 40%;
      height: 550px;
      overflow: scroll;

      &__logicScore {
        display: flex;

        &__scoreChart {
          width: 30%;
        }

        &__scoreText {
          width: 70%;
          padding-left: 3%;
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          &-title {
            font-size: 1.2rem;
          }
        }
      }

      &__factCheck {
        margin-top: 30px;

        &-title {
          font-size: 1.2rem;
        }
      }
    }
  }
}
