// Colors

$main-color: #08708a;
$sub-color: #fdd835;
$white-color: #ffffff;
$border-color: rgba(204, 204, 204, 0.5);
$dark-gray: #5b5e6d;
$gray: #9b9b9b;
$shadow-color: rgba(91, 94, 109, 0.1);

$concept-strong: #000000;
$concept-medium: #8c8c8c;
$concept-low: #dadada;
